@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
@import './variables';
body {
	margin: 0 auto;
	font-family: 'Bellefair', serif;
	font-family: 'Barlow Condensed', sans-serif;
	transition: 0.5s all ease-in;
}
* {
	.heading-1 {
		font-family: 'Bellefair', serif;
		font-size: 150px;
		color: $light;
	}
	.heading-2 {
		font-family: 'Bellefair', serif;
		font-size: 100px;
		color: $light;
	}
	.heading-3 {
		font-family: 'Bellefair', serif;
		font-size: 56px;
		color: $light;
	}
	.heading-4 {
		font-family: 'Bellefair', serif;
		font-size: 32px;
		color: $light;
	}
	.heading-5 {
		font-family: 'Barlow Condensed', serif;
		font-size: 28px;
		color: $light;
	}
	.subheading-1 {
		font-family: 'Bellefair', serif;
		font-size: 28px;
		color: $medium;
	}
	.subheading-2 {
		font-family: 'Barlow Condensed', serif;
		font-size: 14px;
		color: $medium;
	}
	.nav-text {
		font-family: 'Barlow Condensed', serif;
		font-size: 16px;
		color: $medium;
	}
}
