@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './variables';
body {
	margin: 0 auto;
	font-family: 'Bellefair', 'Barlow Condensed' serif;
	transition: 1s all ease;
	background-color: $dark;
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0;
		padding: 0;
	}
}
body::-webkit-scrollbar {
	width: 0;
}
* {
	.heading-1 {
		font-family: 'Bellefair', serif;
		font-size: 150px;
		line-height: 170px;
		color: $light;
	}
	.heading-2 {
		font-family: 'Bellefair', serif;
		font-size: 100px;
		line-height: 115px;
		color: $light;
	}
	.heading-3 {
		font-family: 'Bellefair', serif;
		font-size: 56px;
		line-height: 65px;
		color: $light;
	}
	.heading-4 {
		font-family: 'Bellefair', serif;
		font-size: 32px;
		line-height: 37px;
		color: $light;
	}
	.heading-5 {
		font-family: 'Barlow Condensed', serif;
		font-size: 28px;
		line-height: 34px;
		letter-spacing: 4.7px;
		color: $light;
	}
	.subheading-1 {
		font-family: 'Bellefair', serif;
		font-size: 28px;
		color: $medium;
	}
	.subheading-2 {
		font-family: 'Barlow Condensed', serif;
		font-size: 14px;
		color: $medium;
	}
	.nav-text {
		font-family: 'Barlow Condensed', serif;
		font-size: 16px;
		color: $medium;
	}
	.body-text {
		font-family: 'Barlow Condensed', serif;
		font-size: 18px;
		line-height: 32px;
		color: $medium;
	}
}

@media screen and (max-width: 768px) {
	.heading-5 {
		font-size: 20px;
		line-height: 24px;
	}
	.heading-4 {
		font-size: 24px;
		line-height: 28px;
	}
	.heading-2 {
		font-size: 80px;
		line-height: 91px;
	}
	.heading-3 {
		font-size: 40px;
		line-height: 46px;
	}
	.heading-1 {
		line-height: 150px;
	}
	.subheading-2 {
		font-size: 14px;
		line-height: 17px;
	}
	.subheading-1 {
		font-size: 28px;
		line-height: 32px;
	}
	.nav-text {
		font-size: 14px;
		line-height: 17px;
		span {
			margin-right: 0px;
			visibility: hidden;
		}
	}
	.body-text {
		font-size: 16px;
		line-height: 28px;
		text-align: center;
	}
}

@media screen and (max-width: 375px) {
	.heading-1 {
		font-size: 80px;
		line-height: 100px;
	}
	.heading-2 {
		font-size: 56px;
		line-height: 84px;
	}
	.heading-3 {
		font-size: 24px;
		line-height: 27px;
	}
	.heading-4 {
		font-size: 16px;
		line-height: 18px;
	}
	.heading-5 {
		font-size: 16px;
		line-height: 20px;
	}
	.subheading-2 {
		font-size: 14px;
		line-height: 17px;
	}
	.subheading-1 {
		font-size: 28px;
		line-height: 32px;
	}
	.body-text {
		font-size: 15px;
		line-height: 25px;
		text-align: center;
	}
}
