@import '../../style/variables';
.destination {
	color: $light;
	height: 100%;
	width: 100%;
	background-image: url('../../assets/destination/background-destination-desktop.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&-title {
		margin-bottom: 50px;
		margin-left: 150px;
	}
	&-wrapper {
		display: flex;
		flex-direction: column;
		margin-top: 210px;
	}
	&-row-wrapper {
		display: grid;
		grid-template-columns: 445px 445px;
		justify-content: space-evenly;
	}
	&-col-right,
	&-col-left {
		display: flex;
		flex-direction: column;
	}
	&-descr-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 45px;
	}
	&-descr-footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	&-nav-item:hover {
		border-bottom: 1px solid $medium;
	}
}
.nav {
	--bs-nav-link-hover-color: $medium;
}
